In [2]:
import requests
import gzip
import pandas as pd
import shutil
import datetime

In [3]:
ftpstream = requests.get("https://smn.conagua.gob.mx/webservices/?method=3", headers={'User-Agent': 'Mozilla/5.0'})

In [4]:
type(ftpstream.content)

bytes

In [5]:
with open('./file.gz', 'wb') as file:
    file.write(ftpstream.content)

In [6]:
with gzip.open('./file.gz', 'rb') as f_in:
    with open('response.json', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [7]:
#file  = open('./response.json', 'r')

In [8]:
df = pd.read_json('./response.json')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285708 entries, 0 to 285707
Data columns (total 20 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   desciel   285708 non-null  object
 1   dh        285708 non-null  int64
 2   dirvienc  285708 non-null  object
 3   dirvieng  285708 non-null  float64
 4   dpt       285708 non-null  float64
 5   dsem      285708 non-null  object
 6   hloc      285708 non-null  object
 7   hr        285708 non-null  float64
 8   ides      285708 non-null  int64
 9   idmun     285708 non-null  int64
 10  lat       285708 non-null  float64
 11  lon       285708 non-null  float64
 12  nes       285708 non-null  object
 13  nhor      285708 non-null  int64
 14  nmun      285708 non-null  object
 15  prec      285708 non-null  float64
 16  probprec  285708 non-null  float64
 17  raf       285708 non-null  float64
 18  temp      285708 non-null  float64
 19  velvien   285708 non-null  float64
dtypes: float64(10), int64(4), object(6)
memory usage: 43.6+ MB

In [10]:
display(df[(df['idmun']==54) & (df['ides']==20)])

,desciel,dh,dirvienc,dirvieng,dpt,dsem,hloc,hr,ides,idmun,lat,lon,nes,nhor,nmun,prec,probprec,raf,temp,velvien
0,Cielo nublado,6,Noreste,51.23,12.56,Miércoles,20230412T07,88.27,20,54,17.3884,-97.229,Oaxaca,-1,Magdalena Zahuatlán,0.00,80.0,6.33,13.39,5.35
1,Cielo nublado,6,Noreste,48.64,13.61,Miércoles,20230412T08,77.03,20,54,17.3884,-97.229,Oaxaca,0,Magdalena Zahuatlán,0.00,0.0,4.92,15.37,4.90
2,Cielo nublado,6,Noreste,66.28,15.13,Miércoles,20230412T09,64.50,20,54,17.3884,-97.229,Oaxaca,1,Magdalena Zahuatlán,0.00,0.0,3.54,18.13,2.98
3,Medio nublado,6,Sureste,119.53,16.52,Miércoles,20230412T10,52.33,20,54,17.3884,-97.229,Oaxaca,2,Magdalena Zahuatlán,0.07,0.0,5.57,21.03,2.43
4,Medio nublado,6,Sur,194.14,17.47,Miércoles,20230412T11,42.87,20,54,17.3884,-97.229,Oaxaca,3,Magdalena Zahuatlán,0.12,20.0,8.99,23.44,3.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,Medio nublado,6,Noreste,46.08,15.78,Domingo,20230416T22,82.08,20,54,17.3884,-97.229,Oaxaca,110,Magdalena Zahuatlán,0.63,80.0,6.73,17.13,5.88
112,Medio nublado,6,Noreste,40.31,15.67,Domingo,20230416T23,82.75,20,54,17.3884,-97.229,Oaxaca,111,Magdalena Zahuatlán,0.41,80.0,7.78,16.96,6.95
113,Medio nublado,6,Noreste,47.13,15.32,Lunes,20230417T00,81.88,20,54,17.3884,-97.229,Oaxaca,112,Magdalena Zahuatlán,0.45,80.0,6.60,16.68,6.06
114,Cielo cubierto,6,Noreste,63.51,15.29,Lunes,20230417T01,81.75,20,54,17.3884,-97.229,Oaxaca,113,Magdalena Zahuatlán,0.61,0.0,8.72,16.66,7.43
115,Cielo cubierto,6,Noreste,62.45,15.06,Lunes,20230417T02,84.21,20,54,17.3884,-97.229,Oaxaca,114,Magdalena Zahuatlán,0.84,80.0,10.33,16.23,8.15

In [11]:
display(df[(df['idmun']==96) & (df['ides']==15) &(df['dsem'] == 'Jueves')])

,desciel,dh,dirvienc,dirvieng,dpt,dsem,hloc,hr,ides,idmun,lat,lon,nes,nhor,nmun,prec,probprec,raf,temp,velvien
255217,Cielo nublado,6,Suroeste,210.93,10.41,Jueves,20230413T00,57.54,15,96,19.9103,-99.1489,Estado de México,16,Tequixquiac,0.16,91.25,12.40,14.07,6.83
255218,Cielo nublado,6,Noroeste,294.94,9.29,Jueves,20230413T01,59.13,15,96,19.9103,-99.1489,Estado de México,17,Tequixquiac,0.04,20.00,10.80,12.73,4.52
255219,Medio nublado,6,Noroeste,331.22,8.77,Jueves,20230413T02,62.75,15,96,19.9103,-99.1489,Estado de México,18,Tequixquiac,0.04,20.00,7.09,11.81,3.91
255220,Medio nublado,6,Noroeste,319.40,8.30,Jueves,20230413T03,63.30,15,96,19.9103,-99.1489,Estado de México,19,Tequixquiac,0.00,20.00,6.71,11.27,4.09
255221,Cielo nublado,6,Suroeste,238.12,8.04,Jueves,20230413T04,62.35,15,96,19.9103,-99.1489,Estado de México,20,Tequixquiac,0.00,20.00,6.25,11.10,3.31
255222,Cielo nublado,6,Suroeste,224.78,7.31,Jueves,20230413T05,58.86,15,96,19.9103,-99.1489,Estado de México,21,Tequixquiac,0.00,20.00,10.08,10.72,5.15
255223,Cielo nublado,6,Suroeste,237.70,6.83,Jueves,20230413T06,58.00,15,96,19.9103,-99.1489,Estado de México,22,Tequixquiac,0.00,20.00,8.92,10.33,4.92
255224,Medio nublado,6,Suroeste,226.63,8.03,Jueves,20230413T07,53.76,15,96,19.9103,-99.1489,Estado de México,23,Tequixquiac,0.00,0.00,6.90,12.06,4.02
255225,Medio nublado,6,Suroeste,210.67,10.56,Jueves,20230413T08,44.99,15,96,19.9103,-99.1489,Estado de México,24,Tequixquiac,0.00,0.00,11.87,15.88,5.20
255226,Medio nublado,6,Sur,200.26,13.03,Jueves,20230413T09,39.68,15,96,19.9103,-99.1489,Estado de México,25,Tequixquiac,0.00,0.00,14.12,19.33,8.40
255227,Cielo nublado,6,Suroeste,205.27,13.94,Jueves,20230413T10,34.19,15,96,19.9103,-99.1489,Estado de México,26,Tequixquiac,0.00,0.00,15.33,21.34,9.69
255228,Cielo nublado,6,Suroeste,210.60,14.64,Jueves,20230413T11,29.23,15,96,19.9103,-99.1489,Estado de México,27,Tequixquiac,0.00,0.00,17.58,23.21,10.47
255229,Cielo nublado,6,Suroeste,218.18,15.00,Jueves,20230413T12,24.47,15,96,19.9103,-99.1489,Estado de México,28,Tequixquiac,0.00,0.00,19.30,24.89,13.19
255230,Cielo cubierto,6,Suroeste,229.66,14.59,Jueves,20230413T13,20.57,15,96,19.9103,-99.1489,Estado de México,29,Tequixquiac,0.00,0.00,19.81,25.71,16.11
255231,Cielo cubierto,6,Suroeste,243.80,14.07,Jueves,20230413T14,17.98,15,96,19.9103,-99.1489,Estado de México,30,Tequixquiac,0.00,0.00,20.25,26.13,18.25
255232,Cielo cubierto,6,Oeste,251.57,13.27,Jueves,20230413T15,16.67,15,96,19.9103,-99.1489,Estado de México,31,Tequixquiac,0.00,0.00,20.78,25.80,20.19
255233,Cielo cubierto,6,Oeste,249.30,12.68,Jueves,20230413T16,16.62,15,96,19.9103,-99.1489,Estado de México,32,Tequixquiac,0.00,0.00,23.19,25.18,19.91
255234,Cielo cubierto,6,Suroeste,239.85,11.84,Jueves,20230413T17,17.54,15,96,19.9103,-99.1489,Estado de México,33,Tequixquiac,0.00,0.00,24.24,23.86,19.27
255235,Cielo cubierto,6,Suroeste,240.19,11.34,Jueves,20230413T18,18.69,15,96,19.9103,-99.1489,Estado de México,34,Tequixquiac,0.00,0.00,24.48,22.86,20.16
255236,Medio nublado,6,Oeste,247.81,10.55,Jueves,20230413T19,22.12,15,96,19.9103,-99.1489,Estado de México,35,Tequixquiac,0.00,0.00,35.67,20.79,24.54
255237,Medio nublado,6,Suroeste,246.94,10.05,Jueves,20230413T20,25.59,15,96,19.9103,-99.1489,Estado de México,36,Tequixquiac,0.00,0.00,38.46,19.23,23.45
255238,Medio nublado,6,Suroeste,227.01,9.32,Jueves,20230413T21,27.07,15,96,19.9103,-99.1489,Estado de México,37,Tequixquiac,0.00,0.00,29.36,18.06,18.03
255239,Cielo nublado,6,Suroeste,217.72,8.89,Jueves,20230413T22,28.24,15,96,19.9103,-99.1489,Estado de México,38,Tequixquiac,0.00,0.00,19.64,17.31,11.02
255240,Cielo nublado,6,Suroeste,231.44,8.19,Jueves,20230413T23,30.48,15,96,19.9103,-99.1489,Estado de México,39,Tequixquiac,0.00,0.00,13.06,16.04,7.91

In [12]:
df[df['nmun'] == 'Tequixquiac']['idmun'].unique()

array([96])

In [13]:
df[['fecha', 'hora']] = df['hloc'].str.split('T', expand=True)
df['fecha'] = pd.to_datetime(df['fecha'])

In [14]:
df['hora'] = df['hora'].astype('int')

In [15]:
df[(df['fecha'] == datetime.date.today().isoformat()) & 
   (abs(df['hora'] - datetime.datetime.today().hour) < 3) & 
   (df['hora'] < datetime.datetime.today().hour)]

,desciel,dh,dirvienc,dirvieng,dpt,dsem,hloc,hr,ides,idmun,...,nes,nhor,nmun,prec,probprec,raf,temp,velvien,fecha,hora
74,Despejado,6,Sur,202.18,15.87,Sábado,20230415T09,38.67,20,54,...,Oaxaca,73,Magdalena Zahuatlán,0.0,0.0,3.50,22.50,3.11,2023-04-15,9
75,Despejado,6,Sureste,123.62,16.48,Sábado,20230415T10,29.94,20,54,...,Oaxaca,74,Magdalena Zahuatlán,0.0,0.0,2.42,25.00,1.93,2023-04-15,10
190,Cielo nublado,6,Oeste,282.49,18.33,Sábado,20230415T09,45.05,20,61,...,Oaxaca,73,Monjas,0.0,0.0,3.79,23.98,3.57,2023-04-15,9
191,Cielo nublado,6,Oeste,257.28,18.85,Sábado,20230415T10,36.30,20,61,...,Oaxaca,74,Monjas,0.0,0.0,6.32,26.11,5.72,2023-04-15,10
306,Poco nuboso,6,Suroeste,216.68,16.58,Sábado,20230415T09,41.48,20,62,...,Oaxaca,73,Natividad,0.0,0.0,3.37,22.75,3.18,2023-04-15,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285435,Cielo cubierto,6,Noroeste,316.42,17.35,Sábado,20230415T10,17.35,19,44,...,Nuevo León,74,Sabinas Hidalgo,0.0,0.0,40.69,30.09,26.49,2023-04-15,10
285550,Cielo cubierto,6,Noroeste,299.89,15.66,Sábado,20230415T09,16.83,19,45,...,Nuevo León,73,Salinas Victoria,0.0,0.0,26.69,28.45,10.60,2023-04-15,9
285551,Cielo cubierto,6,Noroeste,314.82,15.75,Sábado,20230415T10,13.40,19,45,...,Nuevo León,74,Salinas Victoria,0.0,0.0,25.42,30.23,15.89,2023-04-15,10
285666,Cielo cubierto,6,Noroeste,301.38,16.53,Sábado,20230415T09,16.23,19,46,...,Nuevo León,73,San Nicolás de los Garza,0.0,0.0,19.67,29.60,12.77,2023-04-15,9
285667,Cielo cubierto,6,Noroeste,312.36,16.98,Sábado,20230415T10,13.25,19,46,...,Nuevo León,74,San Nicolás de los Garza,0.0,0.0,20.20,31.65,15.39,2023-04-15,10

In [16]:
df_2 = df[(df['fecha'] == datetime.date.today().isoformat()) & 
   (abs(df['hora'] - datetime.datetime.today().hour) < 3) & 
   (df['hora'] <= datetime.datetime.today().hour)].groupby(['ides', 'idmun']).mean()[['temp', 'prec']]

/tmp/ipykernel_219002/1255087492.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_2 = df[(df['fecha'] == datetime.date.today().isoformat()) &

In [17]:
df_2 = df_2.reset_index()

In [18]:
df_2

      ides  idmun       temp  prec
0        1      1  22.580000   0.0
1        1      2  22.326667   0.0
2        1      3  23.743333   0.0
3        1      4  21.706667   0.0
4        1      5  22.316667   0.0
...    ...    ...        ...   ...
2458    32     54  22.323333   0.0
2459    32     55  18.980000   0.0
2460    32     56  16.023333   0.0
2461    32     57  20.610000   0.0
2462    32     58  23.560000   0.0

[2463 rows x 4 columns]

In [19]:
import pandas as pd
data_mun_1 = pd.read_csv('./data/data_municipios/data.csv')
data_mun_2 = pd.read_csv('./data/data_municipios/data_1.csv')

In [20]:
data_mun = pd.concat([data_mun_1,data_mun_2])
data_mun

      Cve_Ent  Cve_Mun  Value
0           1        1     25
1           1        2    202
2           1        3     54
3           1        4    906
4           1        5    620
...       ...      ...    ...
2466       32       54    307
2467       32       55    605
2468       32       56     91
2469       32       57     38
2470       32       58    822

[4942 rows x 3 columns]

In [21]:
table_3 = pd.merge(left=df_2, right=data_mun, how='inner', left_on=['ides', 'idmun'], right_on=['Cve_Ent', 'Cve_Mun'])

In [22]:
table_3

      ides  idmun       temp  prec  Cve_Ent  Cve_Mun  Value
0        1      1  22.580000   0.0        1        1     25
1        1      1  22.580000   0.0        1        1    350
2        1      2  22.326667   0.0        1        2    202
3        1      2  22.326667   0.0        1        2    272
4        1      3  23.743333   0.0        1        3     54
...    ...    ...        ...   ...      ...      ...    ...
4921    32     56  16.023333   0.0       32       56     91
4922    32     57  20.610000   0.0       32       57    721
4923    32     57  20.610000   0.0       32       57     38
4924    32     58  23.560000   0.0       32       58    761
4925    32     58  23.560000   0.0       32       58    822

[4926 rows x 7 columns]

In [1]:
from utils.functions import scan_file_directory

In [2]:
scan_file_directory('./data/data_municipios/')

['data_0.csv', 'data_1.csv']